.uploadButton{
    background-color: #0070f3;
    border: none;
    padding: 15px 25px;
    font-size: 17px;
    font-weight: 600;
    color: white;
    border-radius: 10px;
}
.uploadButton .icon{
    margin-right:5px ;
}